Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
ProjectGrizzly.uproject
ProjectGrizzly.uproject
.idea/.idea.ProjectGrizzly.dir/.idea/vcs.xml
